body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
}

/* TOPO */
header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 30px 15px;
}

header h1 {
  margin-bottom: 5px;
}

/* CONTEÚDO */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 25px;
}

h2 {
  border-left: 5px solid #000000;
  padding-left: 10px;
}

/* LISTAS */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

/* RODAPÉ */
footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
