<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <style>
        body {
            background-color: #111;
            color: yellow;
            font-family: 'Orbitron', sans-serif;
            text-align: center;
            padding-top: 100px;
        }
        h1 {
            color: cyan;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo ao meu site!</h1>
    <p>Se estou conseguindo ver isso, o Django está funcionando. </p>
</body>
</html>
